#userArea{
    background-color: #1a1a19;
    border-radius: 10px;

    width: 360px;
    max-height: 225px;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: grey transparent;

    margin-top: 15px;
    margin-left: 15px;

    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 10px;
}
#noUser{
    font-size: small;
    color: #8a8782;
}

.userBox{
    width: 320px;
    height: 70px;

    border-radius: 10px;

    background-color: #20222e;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-left: 10px;

    gap: 10px;
}

.userProfile{
    width: 60px;
    height: 60px;

    border-radius: 40px;

    background-color: rgb(24, 24, 42);
    color: dodgerblue;

    font-size: 25px;
    font-weight: 500;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.userNameEmail{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.userName{
    margin-bottom: 0px;
}
.userEmail{
    margin-top: 0px;

    font-size: small;
    color: #86868c;
}
.userEmailInput{
    background-color: transparent;
    color: #86868c;

    border-width: 0px;
}

.favoriteClickArea{
    width: 40px;
    height: 40px;
    background-color: transparent;

    margin-left: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}
.favoriteStar{
    width: 20px;
    height: 20px;
}
.isFavorite{
    background-image: url("../svg/star_yellow.svg");
    background-size: 20px;
    background-repeat: no-repeat;
}
.isNotFavorite{
    background-image: url("../svg/star_grey.svg");
    background-size: 20px;
    background-repeat: no-repeat;
}

